<footer class="shell shell--bottom" aria-label="Telemetry">
  <p class="mono" aria-label="Local time"><span id="tz">GMT</span>&nbsp;<b id="clock">--:--:--</b></p>
  <p class="mono shell-pointer" aria-hidden="true"><b id="coords">0000&nbsp;X&nbsp;0000&nbsp;Y</b></p>
  <p class="mono shell-progress">
    <span id="section-label">00 INTRO</span>&nbsp;·&nbsp;<b id="scroll-pct">000%</b>
  </p>
</footer>
